.header{
  background-image: url(../img/post-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  text-align: center;
  color: $white;
  padding: 30px;

  .header__title{
    text-shadow: 0 3px 6px black;
    margin: auto;
  }

  .header__icon{
    font-size: $x-large;
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    left: 50%

  }
}

/* Para dispositivos pequeños */
@media (max-width: 991px) {
  .header__title{
    font-size: 40px;
    width: 70%;
    }
  }

/* Para dispositivos grandes */
@media (min-width: 992px) {
  .header__title{
    font-size: $xx-large;
    width: 50%;
    }
  }
